body{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Trebuchet, sans-serif;
}
a{
    outline: none;
    text-decoration: none;
}
img{
    border: none;
}
.wrapper{
    width: 960px;
    margin: 0 auto;    
}
.clean{
    clear: both;
}
.separator{
    margin-bottom: -5px;
}
.header{
    height: 90px;
    padding-top: 3px;
    background: url(/files/images/header_back.png) repeat-x;
}
.logo{
    float: left;
}
.name{
    font-size: 30px;
    color: #c2c2c2;
    float: left;
    line-height: 66px;
    margin-left: 15px;
}
.name a{
    font-size: 30px;
    color: #c2c2c2;
    float: left;
    font-weight: bold;
}
.name a span{
    color: #f0da43;
}
.sign{
    float: right;
    line-height: 66px;
    font-size: 15px;
    margin-right: 10px;
}
.sign a{
    color: #727272;
    font-size: 11px;    
}
.sign a:hover{
    text-decoration: underline;
}
.sign span{
    color: #727272;
    font-size: 11px;
}
.center_top{
    padding-bottom: 22px;
    /*height: 88px;*/
    width: 960px;
    background: url(/files/images/center_top.png) no-repeat;
    color: #444;
    font-size: 13px;
}
.center_top .description{
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    width: 790px;    
}
.center_top .title{
    font-size: 21px;
    color: #444;        
}
.center_top .saber_mas{
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}
.center_top .saber_mas a{
    background: url(/files/images/saber_mas.png) no-repeat;
    display: block;
    width: 65px;
    height: 41px;
}
.center_top .saber_mas a:hover{
    background-position: 0 -41px;
}
.center_center{
    background: url(/files/images/center_back.png) no-repeat;
    width: 960px;
    height: 491px;
}
.center_center .slogan{
    font-size: 40px;
    text-shadow: 0.02em 1px 0px #dbdbdb;
    font-weight: bold;
}
.center_center .left{
    float: left;
    margin-top: 20px;
    margin-left: 25px;
}
.center_center .left .cant{
    margin: 0;
    padding: 0;
    font-size: 22px;    
    color: #fbfa91;
    font-weight: bold;    
}
.center_center .cantidades{
    float: left;
    text-align: right;
    line-height: 35px;
    margin-left: 20px;
    margin-top: 8px;
}
.center_center .descripciones{
    float: left;
    text-align: left;
    line-height: 18px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;    
}
.center_center .unete{
    display: block;
    background: url(/files/images/spiner_unete.png) no-repeat;
    width: 272px;
    height: 63px;
    float: left;
    margin-left: 30px;
}
.center_center .unete:hover{
    background-position: 0 -63px;
}
.center_center .right{
    float: right;
}
.center_center .mapeo, .center_center .monitoreo{
    background: url(/files/images/salidas_back.png) no-repeat;
    width: 177px;
    height: 161px;
    float: left;
    color: #565e51;
    margin-right: 15px;
    margin-top: 15px;
}

.center_center .mapeo .title, .center_center .monitoreo .title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
}
.center_center .mapeo .desc, .center_center .monitoreo .desc{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 15px;
}
.center_center .mapeo .ira, .center_center .monitoreo .ira{
    display: block;
    width: 74px;
    height: 31px;
    background: url(/files/images/spiner_ir.png) no-repeat;
    margin-left: 85px;
    margin-top: 7px;
}
.center_center .mapeo .ira:hover, .center_center .monitoreo .ira:hover{
    background-position: 0 -31px;
}

.footer{
    background: #cdd13d;
    height: 116px;
    border-top: 1px #fff solid;
}
.footer .wrapper{
    background: #cdd13d url(/files/images/sombra.png) repeat-y;
    height: 116px;
    width: 1005px;
}

.footer .wrapper .centro{
    background: url(/files/images/footer.jpg) repeat-y;
    width: 960px;
    margin: 0 auto;
    padding-top: 25px;
    height: 91px;
}
.footer .wrapper .centro span{
    color: #666;
    font-weight: bold;
}
.footer .wrapper .credits{
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
.footer .wrapper .credits a{
    font-weight: bold;
    color: #3d3d3d;
}
.contenido{
    background: #eee;
}
.ajustado{
    padding: 15px;
}
.nombre_modulo{
    font-size: 25px;
    color: #444;
    margin-left: 25px;
    margin-top: 15px;
    float: left;
    
}
.paso1, .paso2, .paso3{
    float: left;
    
}
.paso1{
    width: 190px;
    margin-left: 15px;
}
.paso2{
    width: 350px;
    margin-left: 20px;
}
.paso1 .actores{
    background: #fff;
    margin-top: 10px;
}
.paso1 .actores .title{
    background: #5b6371;
    border-bottom: 2px #eee solid;
    font-size: 16px;
    color: #fff;
    padding: 3px 3px 3px 6px;
    font-weight: bold;
}
.paso1 .checkboxes{
    background: #e0e5e4;    
    margin: 0 8px 6px 8px;
    padding: 6px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 3px;
}
.paso1 .checkboxes input{
    float: left;
}
.paso1 .checkboxes label{
    font-size: 12px;
    font-weight: bold;
    float: left;
}