{% extends "registration/base.html" %}

{% block title %}Entrar{% endblock %}
{% block headline %}Entrar{% endblock %}

{% block maincontents %}


<div id="actividades_lista" >
        <div id="titulo_tasa">Iniciar Sesión</div>
        <div id="resultado_actividades">
            <div class="contenido_actividad">
                <form action="." method= "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table> <br/>
                    <input type = "submit" value = "Iniciar Sesión" />
                </form>
        </div>
        </div>
</div>  
{% endblock %}

{% block related %}
<p>Si usted no tiene una cuenta, se puede <a href="/accounts/register/">registrar</a>.
{% endblock %}
