{% extends "base.html" %}

{% block title %}Entrar{% endblock %}
{% block headline %}Entrar{% endblock %}

{% block contenido %}


{% if form.errors %}
<p class="warning">Por favor, corija los siguentes erores:</p>
{% endif %}
<fieldset><legend>ENTRAR</legend>
<form method="post" action=".">
{% csrf_token %}
<dl>

<dd>{{ form.username|safe }}</dd>

<dd>{{ form.password|safe }}</dd>
<dt><input type="submit" value="Log in" /></dt>
</dl>
</form>
</fieldset> 
{% endblock %}

{% block related %}
<p>Si usted no tiene una cuenta, se puede <a href="/accounts/register/">registrar</a>.
{% endblock %}
