{% extends "base.html" %}
{% block extratitle %}
| Mapeo | Resultados
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
<script type="text/javascript">
    // Aplicar QuickSearch a la tabla y la lista
    $(document).ready(function () {
        var lista_modelos = [{%for modelo in lista_modelos%}'{{modelo}}',{%endfor%}];
        var map;
        var markers = [];
        var infowindow = new google.maps.InfoWindow();
        var myLatlng = new google.maps.LatLng(13,-85);
        var myOptions = {
            zoom: 7,
            mapTypeControl: true,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var image = new google.maps.MarkerImage('/files/images/custom_marker.png',
        new google.maps.Size(20, 43),
        new google.maps.Point(0,0),
        new google.maps.Point(0, 43));

        $.each(lista_modelos, function(i, item){
            $.getJSON('/mapeo/mapa/' + item + '/', function(data){
                $.each(data, function(i, elemento){
                    var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(elemento.lat, elemento.lon),
                    map: map,
                    title: item.nombre,
                   // icon: image
                    });
                    markers.push(marker);
                    google.maps.event.addListener(marker, 'click', function() {
                      infowindow.open(map, marker);
                      var text = '<div class="infowindow">'+elemento.nombre+'<br><ul>';
                      text += '<li><a href="/mapeo/ficha/' + item + '/' + elemento.id + '">Ver ficha</a></li></ul></div>';
                      infowindow.setContent(text);
                    });
                });
            });
        });
        var markerCluster = new MarkerClusterer(map, markers);
    });
</script>
{% endblock %}
{% block top %}
<div class="nombre_modulo">
    M&oacute;dulo de Mapeo
</div>
{% include "links.html"%}
{% endblock %}
{% block contenido %}
<div class="full">
    <div class="explora_mapa">
        <img src="/files/images/explora_mapa.png" alt="explora el mapa">
    </div>
    <div id="map_canvas"></div>
</div>
{% endblock %}
