<!DOCTYPE>
<html>
    <head>
        <title>Sistema Regional MAONIC {% block extratitle %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="image/x-icon" rel="shortcut icon" href="/files/images/favicon.png" >
        <link type="text/css" rel="stylesheet"  href="/files/css/maonic.css" >
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="/files/js/maonic.js"></script>        
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% include "header.html" %}
        <div class="content">
            <div class="wrapper">
                <div class="center_top">
                    {% block top %}
                    {% endblock %}
                    <div class="clean"></div>
                </div>
                <div class="contenido">                    
                    {% block contenido %}
                    {% endblock %}
                </div>                
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
