<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Sistema Regional MAONIC {% block extratitle %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet"  href="/files/css/maonic.css" >
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <div class="logo"><a href="/"><img src="/files/images/logo.png" alt="Maonic Logo"></a></div>
                <div class="name"><a href="/">SISTEMA REGIONAL <span>MAONIC</span></a></div>
                <div class="sign">
                    {% if user.username %}
                          Bienvenido {{ user.username }} | 
                          <a href="/accounts/logout" title="Salir de Administración" >Salir</a> 
                     {% else %} <a href="/accounts/login/">Iniciar Sesi&oacute;n</a>
                     
                     {% endif %}
                    <img class="separator" src="/files/images/separador.png" alt="separador">
                    <a href="/accounts/register/">Crear cuenta nueva</a>
                     
                </div>
                <div class="clean"></div>
            </div>
        </div>
        <div class="content">
            <div class="wrapper">
                <div class="center_top"></div>
            </div>
        </div>
        <div class="footer">

        </div>
    </body>
</html>
