<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Sistema Regional MAONIC | Home </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" rel="stylesheet"  href="/files/css/maonic.css" >                
    </head>
    <body>
        {% include "header.html" %}
        <div class="content">
            <div class="wrapper">
                <div class="center_top">
                    <div class="description">
                        <div class="title">MAONIC</div>
                        <div>
                            Somos el movimiento de agricultura orgánica de Nicaragia Vel aliquet parturient sociis, purus turpis a? Est elit, vel hac nisi, mid augue tristique est magna quis ut urna sed, porta diam magnis? Magna ridiculus natoque! Ut? Porta. Nisi ac, nascetur magnis habitasse
                        </div>
                    </div>
                    <div class="saber_mas">
                        <a href="#"></a>
                    </div>
                    <div class="clean"></div>
                </div>
                <div class="center_center">
                    <div class="left">
                        <div class="slogan">
                            Trabajando juntos para<br>
                            un futuro mejor
                        </div>
                        <br>
                        <div>
                            <div class="cantidades">
                                <p class="cant">500</p>
                                <p class="cant">35</p>
                                <p class="cant">60</p>
                                <p class="cant">4</p>
                                <p class="cant">26</p>
                            </div>
                            <div class="descripciones">
                                <p>&nbsp;Familias productoras</p>
                                <p>&nbsp;Cooperativas</p>
                                <p>&nbsp;Empresas comerciales</p>
                                <p>&nbsp;Certificadoras</p>
                                <p>&nbsp;Empresas Financieras</p>
                            </div>
                            <div class="clean"></div>
                            <a href="/accounts/register/" class="unete"></a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="mapeo">
                            <div class="title">
                                M&uacute;dulo de Mapeo<br>
                                Nacional
                            </div>
                            <div class="desc">
                                Encuentra todos los <br>actores relacionados a la
                                <br>producción de productos <br>orgánicos en nuestro país
                            </div>
                            <a href="/mapeo/" class="ira"></a>
                        </div>
                        <div class="monitoreo">
                            <div class="title">
                                M&uacute;dulo<br>
                                Monitoreo
                            </div>
                            <div class="desc">
                                Encuentra todos los <br>indicadores de producción,
                                <br>comercialización e <br>inversión de productores
                            </div>
                            <a href="#" class="ira"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>

